

<tr>
    <td class="no">@No</td>
    <td class="name">
        <p>@Nurse.Name</p>
        <p>@Nurse.Surname</p>
        </td>
    <SchedulePrevState PreviousStatate=ScheduleNurse.PreviousState/>
    @foreach(var workDay in ScheduleNurse.NurseWorkDays)
    {
        <ScheduleShift WorkDay=workDay Day=@MonthDays.First(d=>d.Date.Day == workDay.DayNumber) MorningShifts="MorningShifts"/>
    }
    <td class="summary">@ScheduleNurse.PreviousMonthTime.GetTotalHoursAndMinutes()</td>
    <td class="summary">@ScheduleNurse.TimeToAssingInMonth.GetTotalHoursAndMinutes()</td>
    <td class="summary">@ScheduleNurse.TimeToAssingInQuarterLeft.GetTotalHoursAndMinutes()</td>
    <td class="summary">@ScheduleNurse.TimeOffToAssign.GetTotalHoursAndMinutes()</td>
</tr>


@code {
    [Parameter]
    public int No { get; set; }
    [Parameter]
    public ScheduleNurseViewModel ScheduleNurse { get; set; }
    [Parameter]
    public NurseViewModel Nurse { get; set; }
    [Parameter]
    public IEnumerable<DayViewModel> MonthDays { get; set; }
    [Parameter]
    public IEnumerable<MorningShiftViewModel> MorningShifts { get; set; }
}
