<ScheduleValidationErrorsModal @ref="_scheduleValidationErrorsModal"/>

<ScheduleHeader QuarterData=QuarterData ScheduleData=ScheduleData />
<table class="table-schedule">
    <thead>
        <tr>
            <th class="no">L.p.</th>
            <th class="name-col">Pracownik</th>
            @foreach (var day in ScheduleData.Days)
            {
                <th class="@ScheduleCssHelper.GetDayClass(day) day">
                    <div class="tooltip">
                        <p>@day.ToString()</p>
                        <p>@day.GetDayOfWeekAbreviation()</p>
                        @if (day.IsHoliday && !String.IsNullOrEmpty(day.HolidayName))
                        {
                            <div class="tooltiptext">@day.HolidayName</div>
                        }
                    </div>
                </th>
            }
            <th class="summary">Poz. czas pracy</th>
            <th class="summary">Przyp. urlop</th>
            <th class="summary">Urlop do przyp.</th>
            <th class="summary">Godz. świąt.</th>
            <th class="summary">Godz. noc.</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            foreach (var nurse in Nurses.Where(n => ScheduleData.Schedule.ScheduleNurses.Any(sn => sn.NurseId == n.NurseId)).OrderBy(n => n.Surname).ThenBy(n => n.Name))
            {
                <ScheduleRow No=i++ Nurse=nurse QuarterData=QuarterData
                     ScheduleData=ScheduleData OnAbsenceSelected="OnAbsenceSelected" 
                     ShowValidationErrorModal="ShowValidationErrorModal"/>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td style="border:none"></td>
            <td>
                <p><b>Dni:</b></p>
                <p><b>Nocy:</b></p>
            </td>
            @foreach (var day in ScheduleData.Days)
            {
                <td>
                    <p>@ScheduleData.Schedule.ScheduleNurses.SelectMany(n => n.NurseWorkDays
                        .Where(wd => wd.ShiftType == ShiftTypes.Day && wd.Day == day.Date.Day && !wd.IsTimeOff)).Count()</p>
                    <p>@ScheduleData.Schedule.ScheduleNurses.SelectMany(n => n.NurseWorkDays.
                        Where(wd => wd.ShiftType == ShiftTypes.Night && wd.Day == day.Date.Day && !wd.IsTimeOff)).Count()</p>
                </td>
            }
        </tr>
    </tfoot>
</table>


@code {
    [Parameter]
    public IEnumerable<NurseViewModel> Nurses { get; set; }
    [Parameter]
    public QuarterDataWrapper QuarterData { get; set; }
    [Parameter]
    public ScheduleDataWrapper ScheduleData { get; set; }
    [Parameter]
    public EventCallback<NewAbsenceSelection> OnAbsenceSelected { get; set; }

    private ScheduleValidationErrorsModal _scheduleValidationErrorsModal;

    private void ShowValidationErrorModal(IEnumerable<ScheduleValidationErrorViewModel> scheduleValidationErrors)
    {
        _scheduleValidationErrorsModal.ShowModal(scheduleValidationErrors);
    }

    private void RefreshSchedule()
    {
        StateHasChanged();
    }
}
