<div class="schedule-header schedule-view">
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <p>
                    <b>Kwartał:</b> @QuarterData.Quarter.QuarterNumber
                </p>
            </div>
            <div class="level-item">
                <p>
                    <b>Norma:</b> @ScheduleData.ScheduleStats.WorkTimeInMonth.GetTotalHoursAndMinutes()
                </p>
            </div>
            <div class="level-item">
                <p>
                    <b>Czas w kwartale:</b> @QuarterData.QuarterStats.WorkTimeInQuarter.GetTotalHoursAndMinutes()
                </p>
            </div>
            <div class="level-item">
                <p>
                    <b>Bilans czasu pracy:</b> @ScheduleData.ScheduleStats.WorkTimeBalance.GetTotalHoursAndMinutes()
                </p>
            </div>
            <div class="level-item">
                <p>
                    <b>Przydzielony urlop:</b> @ScheduleData.ScheduleStats.AssignedTimeOffsTime.GetTotalHoursAndMinutes()
                </p>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <EditForm Model="ScheduleData">
                    <p>
                        <label><b>Wyświetl statystyki: </b></label>
                        <div class="control">
                            <InputRadioGroup ValueChanged="@((e) => OnRadiochange(e))" TValue="StatsDisplayed" ValueExpression="() => _selectedValue">
                                <label class="radio">
                                    <InputRadio Value="StatsDisplayed.Schedule" 
                                        checked=@(ScheduleData.CurrentStatsDipslayed == StatsDisplayed.Schedule)/>
                                    Miesiąca
                                </label>
                                <label class="radio">
                                    <InputRadio Value="StatsDisplayed.Quarter" 
                                        checked=@(ScheduleData.CurrentStatsDipslayed == StatsDisplayed.Quarter)/>
                                    Kwartału
                                </label>
                            </InputRadioGroup>
                        </div>
                    </p>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public QuarterDataWrapper QuarterData { get; set; }
    [Parameter]
    public ScheduleDataWrapper ScheduleData { get; set; }

    private StatsDisplayed _selectedValue;

    private void OnRadiochange(object sender)
    {
        ScheduleData.CurrentStatsDipslayed = (StatsDisplayed)sender;
        ScheduleData.RequestScheduleViewRefresh();
    }
}