<head>
    <meta charset="utf-8" />
</head>
<body>
    <p>
        <b>Miesiąc:</b> @((Months)(ScheduleData.Schedule.Month))
        <b>Rok:</b> @QuarterData.Quarter.Year
        <b>Kwartał:</b> @QuarterData.Quarter.QuarterNumber
        <b>Norma:</b> @ScheduleData.ScheduleStats.WorkTimeInMonth.GetTotalHoursAndMinutes()
        <b>Czas w kwartale:</b> @QuarterData.QuarterStats.WorkTimeInQuarter.GetTotalHoursAndMinutes()
        <b>Bilans czasu pracy:</b> @ScheduleData.ScheduleStats.WorkTimeBalance.GetTotalHoursAndMinutes()
        <b>Przydzielony urlop:</b> @ScheduleData.ScheduleStats.AssignedTimeOffsTime.GetTotalHoursAndMinutes()
    </p>
    <table class="table-schedule">
        <thead>
            <tr>
                <th class="no pr">L.p.</th>
                <th class="name-col-pr pr">Pracownik</th>
                @foreach (var day in ScheduleData.Days)
                {
                    <th class="@ScheduleCssHelper.GetDayClass(day) day">
                        <p>@day.ToString()</p>
                        <p>@day.GetDayOfWeekAbreviation()</p>
                    </th>
                }
                <th class="summary pr">Poz. czas mies.</th>
                <th class="summary pr">Poz. czas kwart.</th>
                <th class="summary pr">Przyp. urlop</th>
                <th class="summary pr">Urlop do przyp.</th>
                <th class="summary pr">Godz. świąt.</th>
                <th class="summary pr">Godz. noc.</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var nurse in Nurses.Where(n => ScheduleData.Schedule.ScheduleNurses.Any(sn => sn.NurseId == n.NurseId)).OrderBy(n => n.Surname).ThenBy(n => n.Name))
                {
                    var schdeuleNurse = ScheduleData.Schedule.ScheduleNurses.First(n => n.NurseId == nurse.NurseId);
                    var scheduleNurseStats = ScheduleData.ScheduleStats.NursesScheduleStats[nurse.NurseId];
                    var quarterNurseStats = QuarterData.QuarterStats.NurseStats[nurse.NurseId];
                    <tr>
                        <td class="no">@(i++)</td>
                        <td class="name-col-pr">
                            <p>@nurse.Surname</p>
                            <p>@nurse.Name</p>
                        </td>
                        @foreach (var workDay in schdeuleNurse.NurseWorkDays)
                        {
                            var day = ScheduleData.Days.First(d => d.Date.Day == workDay.Day);

                            <td class="day @ScheduleCssHelper.GetDayClass(day) @ScheduleCssHelper.SetIsTimeOff(workDay.IsTimeOff)">
                                @if (workDay.ShiftType == ShiftTypes.Day)
                                {
                                    <div class="schedule-shift">D</div>
                                }
                                @if (workDay.ShiftType == ShiftTypes.Night)
                                {
                                    <div class="schedule-shift">N</div>
                                }
                                @if (workDay.ShiftType == ShiftTypes.Morning)
                                {
                                    <div class="schedule-shift">@workDay.MorningShift.ShiftLength.GetTotalHoursAndMinutes()</div>
                                }
                            </td>
                        }
                        <td class="summary">@((ScheduleData.ScheduleStats.WorkTimeInMonth - scheduleNurseStats.AssignedWorkTime).GetTotalHoursAndMinutes())</td>
                        <td class="summary">@((QuarterData.QuarterStats.WorkTimeInQuarter - quarterNurseStats.AssignedWorkTime).GetTotalHoursAndMinutes())</td>
                        <td class="summary">@scheduleNurseStats.TimeOffAssigned.GetTotalHoursAndMinutes()</td>
                        <td class="summary">@scheduleNurseStats.TimeOffToAssign.GetTotalHoursAndMinutes()</td>
                        <td class="summary">@scheduleNurseStats.HolidayHoursAssigned.GetTotalHoursAndMinutes()</td>
                        <td class="summary">@scheduleNurseStats.NightHoursAssigned.GetTotalHoursAndMinutes()</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>


@code {
    [Parameter]
    public IEnumerable<NurseViewModel> Nurses { get; set; }
    [Parameter]
    public QuarterDataWrapper QuarterData { get; set; }
    [Parameter]
    public ScheduleDataWrapper ScheduleData { get; set; }
}
