@page "/absences/details/{NurseId:int}/{Year:int}"

@inherits ComponenentUsingDepartament

@using NursesScheduler.BlazorShared.Pages.Absences.Controls
@using NursesScheduler.BusinessLogic.CommandsAndQueries.Absences.Commands.AddAbsence
@using NursesScheduler.BusinessLogic.CommandsAndQueries.Absences.Queries
@using NursesScheduler.BusinessLogic.CommandsAndQueries.Absences.Queries.GetAbsences
@using NursesScheduler.BusinessLogic.CommandsAndQueries.AbsencesSummaries.Commands.EditAbsencesSummary
@using NursesScheduler.BusinessLogic.CommandsAndQueries.AbsencesSummaries.Commands.RecalculateAbsencesSummary
@using NursesScheduler.BusinessLogic.CommandsAndQueries.AbsencesSummaries.Queries.GetAbsencesSummary
@using NursesScheduler.BusinessLogic.CommandsAndQueries.Nurses.Queries.GetNurse

@inject IMediator _mediatr;
@inject IMapper _mapper;
@inject IExceptionHandler _exceptionHandler;

<EditAbsencesSummaryModal @ref="_editAbsencesSummaryModal" />

@if (_nurse is null || _absencesSummaries is null)
{
    <LoadingSpinner />
}
else
{
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="level-item has-text-centered">
                    <p class="title">Nieobecności: @_nurse.ToString()</p>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a class="button is-info" href="/Absences">Powrót</a>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <p>
                            <b>Przysługujący urlop:</b> @_nurse.PTOentitlement dni
                        </p>
                    </div>
                    <div class="level-item">
                        <p>
                            <b>Pozostały urlop:</b> @_currentAbsencesSummary.PTOTimeLeft.GetTotalHoursAndMinutes()
                        </p>
                    </div>
                    <div class="level-item">
                        @if (_selectedYear.YearNumber <= DateTime.Now.Year)
                        {
                            <p>
                                <b>Zaległy urlop:</b> @_currentAbsencesSummary.PTOTimeLeftFromPreviousYear.GetTotalHoursAndMinutes()
                            </p>
                        }
                    </div>
                    <div class="level-item">
                        <a @onclick="(() => _editAbsencesSummaryModal.ShowModal(_currentAbsencesSummary))">Edytuj</a>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <label class="label">Rok</label>
                    </div>
                    <div class="level-item">
                        <YearSelect YearPickerViewModel=_selectedYear FirstYear=@_absencesSummaries.Min(a => a.Year)
                                OnChange="SelectedYearChanged" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="level">
                @foreach (var absenceType in (AbsenceTypes[])Enum.GetValues(typeof(AbsenceTypes)))
                {
                    <div class="level-item">
                        <div class="label">@absenceType.GetEnumDisplayName()</div>
                        <p>5435</p>
                    </div>
                }
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-content">
                <AbsenceForm @ref=_newAbsenceForm SaveAbsence="AddAbsence" Year=@_currentAbsencesSummary.Year />
            </div>
        </div>
        <div class="level">
            <div class="level-right">
                <div class="level-item">
                    <div class="level-item">
                        <label class="label">Miesiąc</label>
                    </div>
                </div>
                <div class="level-item">
                    <MonthSelect MonthPickerViewModel=_selectedMonth OnChange="(() => StateHasChanged())" />
                </div>
            </div>
        </div>
        @*<NurseAbsencesTable Absences=@_currentAbsencesSummary.Absences.Where(a => a.Month == _dateViewModel.MonthNumber).ToList() />*@
    </div>
}


@code {
    [Parameter]
    public int NurseId { get; set; }
    [Parameter]
    public int Year { get; set; }

    private YearPickerViewModel _selectedYear;
    private MonthPickerViewModel _selectedMonth;

    private NurseViewModel _nurse;

    private IEnumerable<AbsencesSummaryViewModel> _absencesSummaries;
    private AbsencesSummaryViewModel _currentAbsencesSummary;

    private AbsenceForm _newAbsenceForm;

    private EditAbsencesSummaryModal _editAbsencesSummaryModal;

    protected override Task OnParametersSetAsync()
    {
        _selectedYear = new YearPickerViewModel(Year);
        _selectedMonth = new MonthPickerViewModel(DateTime.Now.Month);

        return base.OnParametersSetAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadData();
        }
    }

    private async Task LoadData()
    {
        try
        {
            await LoadNurse();
            await LoadAbsencesSummary();
            _currentAbsencesSummary = _absencesSummaries.FirstOrDefault(y => y.Year == _selectedYear.YearNumber);
            StateHasChanged();
        }
        catch (Exception e)
        {
            _exceptionHandler.HandleException(e);
        }
    }

    private async Task LoadNurse()
    {
        var request = new GetNurseRequest
            {
                NurseId = NurseId
            };

        var response = await _mediatr.Send(request);
        if (response == null)
        {
            NavigationManager.NavigateTo("/notFound");
        }

        _nurse = _mapper.Map<NurseViewModel>(response);
    }

    private async Task LoadAbsencesSummary()
    {
        var request = new GetAbsencesSummaryRequest
            {
                NurseId = NurseId
            };
        var response = await _mediatr.Send(request);

        if (response == null)
            NavigationManager.NavigateTo("/notFound");

        _absencesSummaries = _mapper.Map<ICollection<AbsencesSummaryViewModel>>(response);
    }

    private async Task AddAbsence(AbsenceFormViewModel _newAbsence)
    {
        try
        {
            var addRequest = _mapper.Map<AddAbsenceRequest>(_newAbsence);

            var addResponse = await _mediatr.Send(addRequest);

            if (addResponse == null)
                throw new EntityNotAddedException(nameof(AbsenceViewModel));

            var veryficationResult = (AbsenceVeryficationResult)addResponse.VeryficationResult;

            if (veryficationResult != AbsenceVeryficationResult.Valid)
            {
                _newAbsenceForm.HandleInvalidAbsence(veryficationResult);
                return;
            }

            var getRequest = new GetAbsencesRequest
                {
                    AbsencesSummaryId = _currentAbsencesSummary.AbsencesSummaryId
                };

            var getResponse = await _mediatr.Send(getRequest);

            //_currentAbsencesSummary.Absences = _mapper.Map<ICollection<AbsenceViewModel>>(getResponse).ToList();

            _newAbsenceForm.ResetForm();

            StateHasChanged();
        }
        catch (Exception e)
        {
            _exceptionHandler.HandleException(e);
        }
    }

    private void SelectedYearChanged()
    {
        _currentAbsencesSummary = _absencesSummaries.FirstOrDefault(y => y.Year == _selectedYear.YearNumber);
        _newAbsenceForm.ResetForm();
    }
}
