@page "/scheduleView"

@using NursesScheduler.BlazorShared.Pages.Schedules.Controls
@using NursesScheduler.BusinessLogic.CommandsAndQueries.Days.Queries.GetMonthDays
@using NursesScheduler.BusinessLogic.CommandsAndQueries.DepartamentsSettings.Queries.GetDepartamentSettings
@using NursesScheduler.BusinessLogic.CommandsAndQueries.MorningShifts.Commands
@using NursesScheduler.BusinessLogic.CommandsAndQueries.MorningShifts.Queries.GetMorningShifts
@using NursesScheduler.BusinessLogic.CommandsAndQueries.Nurses.Queries.GetNursesFromDepartament
@using NursesScheduler.BusinessLogic.CommandsAndQueries.Quarters.Commands.AddQuarter
@using NursesScheduler.BusinessLogic.CommandsAndQueries.Quarters.Queries.GetQuarter
@using NursesScheduler.BusinessLogic.CommandsAndQueries.QuartersStats.Queries.GetQuarterStats
@using NursesScheduler.BusinessLogic.CommandsAndQueries.Schedules.Queries.GetSchedule
@using NursesScheduler.BusinessLogic.CommandsAndQueries.SchedulesStats.Queries.GetScheduleStatsQuery

@inherits ComponenentUsingDepartament

@inject IMediator _mediatr
@inject IMapper _mapper
@inject IExceptionHandler _exceptionHandler

<MorningShiftsSettingsModal @ref="_morningShiftsSettingsModal" Quarter=_quarter QuarterStats=_quarterStats MorningShifts=_morningShifts />
<SolverSettingsModal @ref="_solverSettingsModal" SolverSettings=_solverSettings />

@if (_isLoading)
{
    <LoadingSpinner />
}
else
{
    <div class="container is-fluid">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <a @onclick="(() => _morningShiftsSettingsModal.ShowModal())">Konfiguracja ranków</a>
                </div>
                <div class="level-item">
                    <a @onclick="(() => _solverSettingsModal.ShowModal())">Konfiguracja generatora</a>
                </div>
                <div class="level-item">
                    <a>Drukuj</a>
                </div>
            </div>
        </div>
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <label class="label">Miesiąc</label>
                </div>
                <div class="level-item">
                    <MonthSelect MonthPickerViewModel=_dateViewModel OnChange="OnSeletedDateChangedAsync" />
                </div>
                <div class="level-item">
                    <label class="label">Rok</label>
                </div>
                <div class="level-item">
                    <YearSelect YearPickerViewModel=_dateViewModel FirstYear=CurrentDepartamentStore.CurrentDepartament.CreationYear OnChange="OnSeletedDateChangedAsync" />
                </div>
                <div class="level-item">
                    <button class="button is-info" @onclick="OnCurrentDateClickAsync">Bieżący miesiąc</button>
                </div>
            </div>

            <div class="level-right">
                <div class="level-item">
                    <p class="control">
                        <a class="button is-info">
                            <span class="icon">
                                <i class="fas fa-check" aria-hidden="true"></i>
                            </span>
                            <span>Sprawdź</span>
                        </a>
                    </p>
                </div>
                <div class="level-item">
                    <p class="control">
                        <a class="button is-danger">
                            <span class="icon">
                                <i class="fas fa-xmark" aria-hidden="true"></i>
                            </span>
                            <span>Wyczyść</span>
                        </a>
                    </p>
                </div>
                <div class="level-item">
                    <p class="control">
                        <a class="button is-warning">
                            <span class="icon">
                                <i class="fas fa-wand-magic-sparkles" aria-hidden="true"></i>
                            </span>
                            <span>Generuj</span>
                        </a>
                    </p>
                </div>
                <div class="level-item">
                    <p class="control">
                        <a class="button is-success">
                            <span class="icon">
                                <i class="far fa-floppy-disk" aria-hidden="true"></i>
                            </span>
                            <span>Zapisz</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <p>
                        <b>Kwartał:</b> @_quarter.QuarterNumber
                    </p>
                </div>
                <div class="level-item">
                    <p>
                        <b>Norma:</b> @_scheduleStats.WorkTimeInMonth.GetTotalHoursAndMinutes()
                    </p>
                </div>
                <div class="level-item">
                    <p>
                        <b>Czas w kwartale:</b> @_quarterStats.WorkTimeInQuarter.GetTotalHoursAndMinutes()
                    </p>
                </div>
                <div class="level-item">
                    <p>
                        <b>Bilans czasu pracy:</b> @_scheduleStats.WorkTimeBalance.GetTotalHoursAndMinutes()
                    </p>
                </div>
                <div class="level-item">
                    <p>
                        <b>Przydzielony urlop:</b> @_scheduleStats.AssignedTimeOffsTime.GetTotalHoursAndMinutes()
                    </p>
                </div>
            </div>
            <div class="level-right">
                <p><b>Zapisano!</b></p>
            </div>
        </div>
    </div>

    <ScheduleTable StatsDipslayed=StatsDisplayed.Schedule MonthDays=_days Nurses=_nurses Schedule=_schedule MorningShifts=_morningShifts
               ScheduleStats=_scheduleStats QuarterStats=_quarterStats Quarter=_quarter />
}


@code {
    private ScheduleStatsViewModel _scheduleStats;
    private QuarterStatsViewModel _quarterStats;

    private IEnumerable<NurseViewModel> _nurses;
    private IEnumerable<DayViewModel> _days;
    private QuarterViewModel _quarter;
    private IEnumerable<MorningShiftViewModel> _morningShifts;
    private ScheduleViewModel _schedule;
    private SolverSettingsViewModel _solverSettings;

    private ModalBase _morningShiftsSettingsModal;
    private ModalBase _solverSettingsModal;

    private DatePickerViewModel _dateViewModel = new DatePickerViewModel
        {
            YearNumber = DateTime.Now.Year,
            MonthNumber = DateTime.Now.Month,
        };

    private bool _isLoading = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isLoading = true;

            try
            {
                await SetNursesAsync();
                await InitializeSolverSettingsAsync();
                await SetQuarterAsync();
                await ChangeScheduleAsync();

                _isLoading = false;
                StateHasChanged();
            }
            catch (Exception e)
            {
                _exceptionHandler.HandleException(e);
            }
        }
    }

    private async Task OnSeletedDateChangedAsync()
    {
        _isLoading = true;
        await Task.Delay(1);

        try
        {
            await ChangeScheduleAsync();
        }
        catch (Exception ex)
        {
            _exceptionHandler.HandleException(ex);
        }

        _isLoading = false;
    }

    private async Task OnCurrentDateClickAsync()
    {
        _dateViewModel.MonthNumber = DateTime.Now.Month;
        _dateViewModel.YearNumber = DateTime.Now.Year;

        await OnSeletedDateChangedAsync();
    }

    private async Task ChangeScheduleAsync()
    {
        await SetMonthDaysAsync();
        await SetScheduleAsync();

        if (_schedule.QuarterId != _quarter.QuarterId)
        {
            await SetQuarterAsync();
        }

        await SetStatsAsync();
    }

    private async Task SetQuarterAsync()
    {
        _quarter = await GetQuarterAsync();
        if (_quarter is null)
        {
            _quarter = await AddQuarterAsync();
        }

        await SetMorningShiftsAsync();
    }

    private async Task SetStatsAsync()
    {
        await SetScheduleStatsAsync();
        await SetQuarterStatsAsync();
    }

    private async Task<QuarterViewModel> AddQuarterAsync()
    {
        var request = new AddQuarterRequest
            {
                Month = _dateViewModel.MonthNumber,
                Year = _dateViewModel.YearNumber,
                DepartamentId = base.CurrentDepartamentStore.CurrentDepartament.DepartamentId,
            };
        var response = await _mediatr.Send(request);

        if (response is null)
        {
            throw new EntityNotAddedException(nameof(QuarterViewModel));
        }

        return _mapper.Map<QuarterViewModel>(response);
    }

    private async Task<QuarterViewModel?> GetQuarterAsync()
    {
        var request = new GetQuarterRequest
            {
                Month = _dateViewModel.MonthNumber,
                Year = _dateViewModel.YearNumber,
                DepartamentId = base.CurrentDepartamentStore.CurrentDepartament.DepartamentId,
            };
        var response = await _mediatr.Send(request);

        return response is not null ? _mapper.Map<QuarterViewModel>(response) : null;
    }

    private async Task SetNursesAsync()
    {
        var request = new GetNursesFromDepartamentRequest()
            {
                DepartamentId = base.CurrentDepartamentStore.CurrentDepartament.DepartamentId,
                IncludeDeleted = true,
            };
        var response = await _mediatr.Send(request);

        _nurses = _mapper.Map<IEnumerable<NurseViewModel>>(response);
    }

    private async Task SetScheduleAsync()
    {
        var request = new GetScheduleRequest
            {
                Month = _dateViewModel.MonthNumber,
                QuarterId = _quarter.QuarterId,
            };
        var response = await _mediatr.Send(request);

        _schedule = _mapper.Map<ScheduleViewModel>(response);
    }

    private async Task SetMonthDaysAsync()
    {
        var request = new GetMonthDaysRequest
            {
                Month = _dateViewModel.MonthNumber,
                Year = _dateViewModel.YearNumber,
            };
        var response = await _mediatr.Send(request);

        _days = _mapper.Map<IEnumerable<DayViewModel>>(response);
    }

    private async Task SetMorningShiftsAsync()
    {
        var request = new GetMorningShiftsRequest
            {
                QuarterId = _quarter.QuarterId,
            };
        var response = await _mediatr.Send(request);

        _morningShifts = _mapper.Map<IEnumerable<MorningShiftViewModel>>(response);
    }

    private async Task InitializeSolverSettingsAsync()
    {
        var request = new GetDepartamentSettingsRequest
            {
                DepartamentId = base.CurrentDepartamentStore.CurrentDepartament.DepartamentId,
            };
        var response = await _mediatr.Send(request);

        var settings = _mapper.Map<DepratamentSettingsViewModel>(response);

        _solverSettings = new SolverSettingsViewModel(settings.DefaultGeneratorRetryValue);
    }

    private async Task SetScheduleStatsAsync()
    {
        var request = new GetScheduleStatsRequest
            {
                DepartamentId = _quarter.DepartamentId,
                Year = _quarter.Year,
                Schedule = _mapper.Map<GetScheduleStatsRequest.ScheduleRequest>(_schedule),
            };

        var response = await _mediatr.Send(request);

        _scheduleStats = _mapper.Map<ScheduleStatsViewModel>(response);
    }

    private async Task SetQuarterStatsAsync()
    {
        var request = new GetQuarterStatsRequest
            {
                Month = _schedule.Month,
                Year = _quarter.Year,
                DepartamentId = _quarter.DepartamentId,
                CurrentScheduleStats = _mapper.Map<GetQuarterStatsRequest.ScheduleStatsRequest>(_scheduleStats),
            };

        var response = await _mediatr.Send(request);

        _quarterStats = _mapper.Map<QuarterStatsViewModel>(response);
    }
}