

<tr>
    <td>@ScheduleNurse.Nurse.ToString();</td>
    <td></td>
    @foreach(var workDay in ScheduleNurse.NurseWorkDays)
    {
        <ScheduleShift WorkDay=workDay Day=MonthDays[workDay.DayNumber-1]/>
    }
    <td>@ScheduleNurse.PreviousMonthTime.GetTotalHoursAndMinutes()</td>
    <td>@ScheduleNurse.TimeToAssingInMonth.GetTotalHoursAndMinutes()</td>
    <td>@ScheduleNurse.TimeToAssingInQuarterLeft.GetTotalHoursAndMinutes()</td>
    <td>@ScheduleNurse.TimeOffToAssign.GetTotalHoursAndMinutes()</td>
</tr>


@code {
    [Parameter]
    public ScheduleNurseViewModel ScheduleNurse { get; set; }
    [Parameter]
    public DayViewModel[] MonthDays { get; set; }
}
