

<tr>
    <td>@RowData.Nurse.ToString();</td>
    @foreach(var shift in RowData.Shifts)
    {
        <ScheduleShift/>
    }
    <td>@RowData.PreviousMonthTime</td>
    <td>@RowData.AssignedTime</td>
    <td>@RowData.AssignedTimeInQuarter</td>
    <td>@RowData.AssignedPTO</td>
</tr>


@code {
    [Parameter]
    public MonthViewModel Month { get; set; }
    [Parameter]
    public ScheduleRowViewModel RowData { get; set; }
}
