@using NursesScheduler.BusinessLogic.CommandsAndQueries.Absences.Commands.DeleteAbsence
@using NursesScheduler.BusinessLogic.CommandsAndQueries.Absences.Commands.EditAbsence

@inherits ComponenentUsingDepartament

@inject IMediator _mediatr
@inject IMapper _mapper
@inject IExceptionHandler _exceptionHandler


<DeleteModalWithId @ref="_deleteModal" DeleteAction="DeleteAbsence" />
<AbsenceFormModal @ref="_absenceFormModal" IsEdit=true SaveAbsence="EditAbsence" />
<ErrorModal @ref=_errorModal />

@if (_currentAbsences is null || _currentAbsences.Where(a => a.Month == _month).Count() == 0)
{
    <div class="has-text-centered">
        <h4 class="subtitle is-4">Brak wprowadzonych nieobecności</h4>
    </div>
}
else
{
    <table class="table is-striped is-fullwidth">
        <thead>
            <tr>
                <th>Dni</th>
                <th>Długość(dni)</th>
                <th>Godzin pracy</th>
                <th>Przypisanych godzin pracy</th>
                <th>Typ</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var absence in _currentAbsences.Where(a => a.Month == _month).OrderBy(a => a.Days.Min()).ToList())
            {
                <tr>
                    <td>@absence.ToString()</td>
                    <td>@absence.Lenght</td>
                    <td>@absence.WorkTimeToAssign.GetTotalHoursAndMinutes()</td>
                    <td>@absence.AssignedWorkingHours.GetTotalHoursAndMinutes()</td>
                    <td>@absence.Type.GetEnumDisplayName()</td>
                    @if (!absence.IsClosed)
                    {
                        <td>
                            <a @onclick="(() => _absenceFormModal.ShowModal(absence, _year))">Edytuj</a>
                        </td>
                        <td>
                            <a class="has-text-danger" @onclick="(() => _deleteModal.ShowModal(absence.ToString(), absence.AbsenceId))">Usuń</a>
                        </td>
                    }
                    else
                    {
                        <td>
                        </td>
                        <td>
                            Zamknięto
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}


@code {
    [Parameter]
    public IEnumerable<AbsencesSummaryViewModel> AbsencesSummaries { get; set; }
    [Parameter]
    public IYearPickerViewModel YearPicker { get; set; }
    [Parameter]
    public IMonthPickerViewModel MonthPicker { get; set; }

    private List<AbsenceViewModel> _currentAbsences => AbsencesSummaries.First(s => s.Year == _year).Absences;

    private DeleteModalWithId _deleteModal;
    private AbsenceFormModal _editModal;

    private AbsenceFormModal _absenceFormModal;
    private ErrorModal _errorModal;

    private int _month => MonthPicker.MonthNumber;
    private int _year => YearPicker.YearNumber;

    private async Task DeleteAbsence(int absenceId)
    {
        try
        {
            var request = new DeleteAbsenceRequest
                {
                    AbsenceId = absenceId,
                };
            var response = await _mediatr.Send(request);

            if (!response.Success)
            {
                throw new EntityNotDeletedException(absenceId, nameof(AbsenceViewModel));
            }

            _currentAbsences.RemoveAll(a => a.AbsenceId == absenceId);

        }
        catch (Exception e)
        {
            _exceptionHandler.HandleException(e);
        }
    }

    private async Task EditAbsence(AbsenceFormViewModel _modifiedAbsence)
    {
        try
        {
            var response = await _mediatr.Send(_mapper.Map<EditAbsenceRequest>(_modifiedAbsence));

            if (response is null)
            {
                throw new EntityNotEditedException(_modifiedAbsence.AbsenceId, nameof(AbsenceViewModel));
            }

            var veryficationResult = (AbsenceVeryficationResult)response.VeryficationResult;

            if (veryficationResult != AbsenceVeryficationResult.Valid)
            {
                _errorModal.ShowModal(veryficationResult.GetEnumDisplayName());
                return;
            }

            if(response.Absence is null)
            {
                return;
            }

            _currentAbsences.RemoveAll(a => a.AbsenceId == _modifiedAbsence.AbsenceId);
            _currentAbsences.Add(_mapper.Map<AbsenceViewModel>(response.Absence));

            StateHasChanged();
        }
        catch (Exception e)
        {
            _exceptionHandler.HandleException(e);
        }
    }
}
