@using NursesScheduler.BusinessLogic.CommandsAndQueries.Absences.Commands.DeleteAbsence
@using NursesScheduler.BusinessLogic.CommandsAndQueries.Absences.Commands.EditAbsence

@inherits ExceptionHandlingComponent

@inject IMediator _mediatr
@inject IMapper _mapper


<DeleteModal @ref="_deleteModal" DeleteAction="DeleteAbsence" />
<EditAbsenceModal @ref="_editModal" EditAction="EditAbsence"/>

@if (Absences == null || !Absences.Any())
{
    <div class="has-text-centered">
        <h4 class="subtitle is-4">Brak wprowadzonych nieobecności</h4>
    </div>
}
else
{
    <table class="table is-striped is-fullwidth">
        <thead>
            <tr>
                <th>Początek</th>
                <th>Koniec</th>
                <th>Długość(dni)</th>
                <th>Godzin pracy</th>
                <th>Przypisanych godzin pracy</th>
                <th class="is-fullwidth">Typ</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var absence in Absences.OrderByDescending(a => a.From))
            {
                <tr>
                    <td>@absence.From</td>
                    <td>@absence.To</td>
                    <td>@absence.Lenght</td>
                    <td>@absence.WorkingHoursToAssign.GetTotalHoursAndMinutes()</td>
                    <td>@absence.AssignedWorkingHours.GetTotalHoursAndMinutes()</td>
                    <td class="is-fullwidth">@absence.Type.GetEnumDisplayName()</td>
                    <td><a>Edytuj</a></td>
                    <td><a class="has-text-danger" @onclick="(() => _deleteModal.SetModal(absence.ToString(), absence.AbsenceId))">Usuń</a></td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private DeleteModal _deleteModal;
    private EditAbsenceModal _editModal;

    [Parameter]
    public List<AbsenceViewModel> Absences { get; set; }

    private async Task DeleteAbsence(int absenceId)
    {
        try
        {
            var request = new DeleteAbsenceRequest
            {
                AbsenceId = absenceId,
            };
            var response = await _mediatr.Send(request);

            if (!response.Success)
                throw new EntityNotDeletedException(absenceId, nameof(AbsenceViewModel));

            Absences.RemoveAll(a => a.AbsenceId == absenceId);

        }
        catch (Exception e)
        {
            HandleException(e);
        }
    }

    private async Task EditAbsence(AbsenceViewModel absence)
    {
        try
        {
            EditAbsenceRequest request = _mapper.Map<EditAbsenceRequest>(absence);

            var response = await _mediatr.Send(request);

            if (response == null)
                throw new EntityNotAddedException(nameof(AbsenceViewModel));

            var veryficationResult = (AbsenceVeryficationResult)response.VeryficationResult;

            if (veryficationResult != AbsenceVeryficationResult.Valid)
            {
                _editModal.HandleInvalidAbsence(veryficationResult);
            }
            else
            {
                var editedAbsence = _mapper.Map<AbsenceViewModel>(response);
                Absences.RemoveAll(a => a.AbsenceId == editedAbsence.AbsenceId);
                Absences.Add(editedAbsence);
            }
            StateHasChanged();
        }
        catch (Exception e)
        {
            base.HandleException(e);
        }
    }
}
